/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
html{
  min-height: 100%;
  overflow: hidden;
}
body{
  height: calc(100vh - 8em);
  padding: 4em;
  color: black;
  font-family: 'Anonymous Pro', monospace;
  background-color: yellow;
}
.line-1{
    position: relative;
    top: 10%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 280%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}
Overflow:scroll:

{
Overflow-x:scroll;//add horizontal bar option in html
Overflow-y:scroll; //add vertical bar option in html
}
.plan {
margin-top: 200px;
margin-bottom:300px;
margin-right: 200px;
margin-left: 200px;
}
#pmphoto {

  margin-right: 700px;
}
.plan2 {
  margin-right: 300%;
}
/*<p class="line-1 anim-typewriter">شرف الوصول للنصر اهم من النصر نفسه</p>*/
